<div class="p-2">
  <h2>Manage my instance</h2>
  <hr>
  <div class="alert alert-danger mt-2" role="alert" *ngIf="errorMsg?.length">
    <p class="p-0 m-0" *ngFor="let msg of errorMsg">{{msg}}</p>
  </div>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img class="rounded-1" width="100%" height="100%" [src]="selectedPicture" alt="...">
      <div class="mt-2">
        <input
          (change)="onFileSelected($event)"
          class="form-control"
          type="file"
          id="formFile"
          accept="image/*"
        >

      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12">
          <label for="name" class="form-label" >Name</label>>
          <input [(ngModel)]="instanceRequest.name" name="name" type="text" class="form-control" id="name" placeholder="Instance name">
        </div>
        <div class="col-12">
          <label for="archived" class="form-label" >Archived</label>>
          <input [(ngModel)]="instanceRequest.archived" name="archived" type="text" class="form-control" id="archived" placeholder="Yes or No">
        </div>
        <div class="col-12">
          <label for="id" class="form-label" >Id</label>>
          <input [(ngModel)]="instanceRequest.id" name="id" type="number" class="form-control" id="id" placeholder="Enter your id">
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button (click)="saveInstance()" type="submit" class="btn btn-outline-primary">
            <i class="fas fa-save"></i>&nbsp;Save
          </button>
          <a routerLink="/instances/my-instancd ces" class="btn btn-link text-danger">
            <i class="fas fa-times"></i>&nbsp;Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
